/* .center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff758f;
  padding: 50px;
} */

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff758f;
}

.box {
  /* border: 5px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
